* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    background-color: #202124;
    color: #e8eaed;
}

/* Globals*/
h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

h2 {
    margin: 30px 0 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
    text-align: justify;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #5f6368;
}

/* Header */
header {
    position: fixed;
    top: 0;
    background-color: #202124;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #5f6368;
    z-index: 1;
}

ul {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

li {
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
    text-decoration: none;
}

li:hover {
    background-color: #5f6368;
}

li a {
    text-decoration: none;
    color: #e8eaed;
}

/* Content */
.content {
    position: relative;
    top: 80px;
}

.content .title {
    text-align: center;
}

/* Colors*/

.color {
    display: inline-block;
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 500;
}

.color p {
    padding: 2px;
    text-align: center !important;
}

.blue {
    background-color: rgb(0, 0, 255);
    color: #FFF;
}

.pink {
    background-color: rgb(255, 182, 193);
    color: #000;
}

.mint-green {
    background-color: rgb(152, 255, 152);
    color: #000;
}

.beige {
    background-color: rgb(244, 226, 198);
    color: #000;
}

/* Fonts */
.sans-serif {
    line-height: 30px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

.font {
    display: inline-block;
    margin: 0 10px 20px 0;
}

.open-sans {
    font-family: 'Open Sans';
}

.montserrat {
    font-family: 'Montserrat';
}

.josefin-sans {
    font-family: 'Josefin Sans';
}

/* Text Style*/
.style {
    line-height: 30px;
}

.style p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.code {
    display: block;
}

footer {
    position: relative;
    top: 70px;
    background-color: #303134;
    height: 70px;
}

footer p {
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
    color: #FFF;
}

/* Media Queries */
@media(max-width: 500px) {
    .color,
    .font,
    .style {
        width: 100%;
    }
}